
#full-crosshair-cursor-h {
  width: 100%;
}

#full-crosshair-cursor-v {
  height: 100%;
   
}

#full-crosshair-cursor-v, #full-crosshair-cursor-h {
  position: fixed;
  top:0; left:0;
  margin-top: -3px;
  margin-left: -2px;
  background: transparent;
  border-top: 1px dotted #000;
  border-left: 1px dotted #000;
  pointer-events: none;
  z-index: 9999;
}